{% extends "book_app/base.html" %}
{% load static %}
{% block title %}Book Data Form{% endblock %}
{% block templatecss %}<link href="{% static 'css/create_book_data.css' %}" rel="stylesheet" />{% endblock %}
{% if user.is_authenticated %}
{% endif %}

{% block content %}
    <br>
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <div class="register-container">
            <p>{{ book_form.as_p }}</p>
            <!-- <label for="{{ book_form.upload.label }}">{{ book_form.upload.label }}</label> -->
            <!-- <p name="{{ book_form.upload.label }}">{{ book_form.upload }}</p> -->
            <button name="book_submit_btn" type="submit" class="btn btn-primary btn-btn">Submit</button>
        </div>
    </form>
    <br>
    <ul>
    	{% if book_form.errors %}
    		{% for field in book_form %}
        		{% for error in field.errors %}
            		<li class="alert alert-danger error_message">{{ error }}</li>    
        		{% endfor %}
        	{% endfor %}
        {% endif %}
    </ul>
{% endblock %}
