{% extends "book_app/base.html" %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block templatecss %}<link href="{% static 'css/style.css' %}" rel="stylesheet" />{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="jumbotron">
      <h1>Click here to go to upload page</h1>
      <a class="btn btn-primary" href="{% url 'book_app:upload' %}">Upload Page</a>
    </div>
  {% else %}
     <div class="jumbotron">
      <h1>Please Regiter</h1>
      <a class="btn btn-primary" href="{% url 'book_app:register' %}">Register Page</a>
    </div>
  {% endif %}
{% endblock %}
